  .accordion .accordion-item {
    width: 100%;
    background-color: #FFF;
    position: relative;
  }

  .accordion details {
    border-bottom: 1px solid var(--dark-color);
  }
  
  .accordion details summary {
    position: relative;
    padding-right: 48px;
    cursor: pointer;
    list-style: none;
    overflow: auto;
    transition: border-bottom .2s ease-in;
    line-height: 4em;
  }
  
  .accordion details summary::-webkit-details-marker {
    display: none;
  }
  
  .accordion .accordion-item-label p {
    margin: 0;
    padding: 0;
  }
  
  .accordion .accordion-item-label h2 {
    margin: 0;
    font-size: 28px;
    font-weight: 400;
    list-style: 36px;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    padding-left: 14px;
  }
  
  .accordion details summary::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%) rotate(135deg);
    width: 9px;
    height: 9px;
    border: 2px solid;
    border-width: 2px 2px 0 0;
    transition: transform 0.2s;
    bottom: 5px;
  }
  
  .accordion details[open] summary::after {
    transform: translateY(-50%) rotate(-45deg);
  }
  
  .accordion details .accordion-item-body {
    padding: 0 16px;
  }
  
  .accordion h3 {
    font-size: 14px;
    font-weight: 600;
    padding: 16px 14px;
    margin-left: 14px;
    background-color: #F0F4F7;
  }
  
  .accordion .accordion-item-body ul {
    list-style: none;
  }
  
  .accordion .accordion-item-body ul > li {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #F0F5F7;
    padding: 15px 23px 15px 12px;
  }
  
  .accordion .accordion-item-body ul > li > div:first-child {
    width: 253px;
  }
  
  .accordion .accordion-item-body li .list-label {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }